# EDA of exoplanet data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data/PS_2024.09.13_11.57.30_preporcessed.csv', index_col=0)
df

/tmp/ipykernel_4177/3552171508.py:1: DtypeWarning: Columns (4,5,21,22,32,35,36,37,83,84,85,86,105,106,107,151,152,153,154,155,156,169,170,171,173,201,202,203,205,278,279,280,281,282) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/PS_2024.09.13_11.57.30_preporcessed.csv', index_col=0)

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,sy_pnum,...,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec,Unnamed: 284,Unnamed: 285,Unnamed: 286,Unnamed: 287,Unnamed: 288,Unnamed: 289
loc_rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36366,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,3,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
36367,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
36368,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,0,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
36369,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,0,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
36370,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns, df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36370 entries, 1 to 36370
Columns: 289 entries, pl_name to Unnamed: 289
dtypes: float64(209), int64(15), object(65)
memory usage: 80.5+ MB

(Index(['pl_name', 'hostname', 'pl_letter', 'hd_name', 'hip_name', 'tic_id',
        'gaia_id', 'default_flag', 'sy_snum', 'sy_pnum',
        ...
        'st_nspec', 'pl_nespec', 'pl_ntranspec', 'pl_ndispec', 'Unnamed: 284',
        'Unnamed: 285', 'Unnamed: 286', 'Unnamed: 287', 'Unnamed: 288',
        'Unnamed: 289'],
       dtype='object', length=289),
 None)

In [4]:
df['Unnamed: 284'].isna().sum()

33281

In [5]:
percent_threshold = 30
percent_missing = df.isnull().sum() * 100 / len(df)
print(f"Anzahl von Spalten mit mehr als {percent_threshold} %: {len(percent_missing.loc[lambda p : p > percent_threshold])}")
percent_missing.loc[lambda p : p > percent_threshold].sort_values(ascending=False)

Anzahl von Spalten mit mehr als 30 %: 167

Unnamed: 289        99.947759
Unnamed: 288        99.947759
pl_trueobliqerr2    99.917514
pl_trueobliqerr1    99.912015
pl_trueobliqlim     99.909266
                      ...
pl_trandurlim       32.925488
sy_w3magerr2        31.982403
pl_rade             31.952158
st_metlim           31.215287
st_masserr2         31.064064
Length: 167, dtype: float64

In [6]:
df

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,sy_pnum,...,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec,Unnamed: 284,Unnamed: 285,Unnamed: 286,Unnamed: 287,Unnamed: 288,Unnamed: 289
loc_rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36366,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,3,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
36367,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
36368,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,0,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
36369,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,0,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
36370,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN